body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
}

/* ---- Preloader ---- */
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading .866s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
    background-color: #4285F4;
    animation-delay: 0;
}

.loading-bar:nth-child(2) {
    background-color: #DB4437;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #F4B400;
    animation-delay: .18s;
}

.loading-bar:nth-child(4) {
    background-color: #0F9D58;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
    }
}

.preloader-background>p {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
}

.blinking {
    padding-top: 75px;
    animation: blinker .9s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* ---- Navbar ---- */
@media only screen and (min-width: 992px) and (max-width: 1080px) {
    .hide-on-med-and-down {
        display: none !important;
    }

    nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.center-brand {
    height: 64px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .center-brand {
        height: 56px;
    }
}

.dsc-logo {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.dsc-brand {
    color: #4E4E4E;
    font-weight: 700;
    font-size: 1.5rem;
}

.whiteNav {
    background: rgba(255, 255, 255, 1);
}

nav ul a {
    color: #4E4E4E;
    height: 64px;
}

nav a {
    color: #4E4E4E;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-section {
    height: 100vh;
    display: flex;
    align-items: center;
}

.brand {
    text-align: center;
    z-index: 1;
}

.caption-container {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #FFFFFF;
}

.caption-title {
    color: #4E4E4E;
    font-size: 5em;
    font-weight: bold
}

.caption-subtitle {
    color: #4E4E4E;
    font-size: 1.5em;
    font-weight: 600;
}

.hashtag {
    color: #FF69B4;
    font-size: 1.25rem;
}

/* ---- particles.js canvas ---- */
canvas {
    display: block;
    vertical-align: bottom;
    z-index: -1;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- About ---- */
.about-section {
    background-color: black;
    height: 100vh;
}

.about-section-flex {
    display: flex;
    align-items: center;
}

.about-section-img {
    background-image: url('../images/events/1.jpg');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100vh;
}

.about-text-area {
    text-align: center;
    padding-top: 99px;
    padding-bottom: 99px;
}

@media only screen and (min-width: 768px) {
    .about-text-area {
        margin-left: 16.66667%;
        margin-right: 16.66667%;
    }
}

.row .col {
    padding: 0;
}

.about-title {
    margin-top: 30px;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2.25rem;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: #4E4E4E;
}

.description {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.125rem;
    line-height: 1.5em;
}

.about-learn-more {
    color: #FFFFFF !important;
    background-color: #DB4437 !important;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 175px;
    font-size: 1rem;
}

.about-learn-more:hover {
    background-color: #DB4437;
}

/* ---- What We Do ---- */
.what-we-do-section {
    /* background-color: #6BF178; */
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
}

.what-we-do-title {
    text-align: center;
    color: #4E4E4E;
    font-size: 3.5rem;
    font-weight: 600;
}

.what-we-do-description {
    font-size: 2rem;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width: 500px) {
    .what-we-do-description {
        font-size: 1.25rem;
        padding-left: 25px;
        padding-right: 25px;
        line-height: 1.75rem;
    }
}

/* ---- Domains ---- */
.domains-section {
    /* background-color: #6BF178; */
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
}

.domains-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.round-divs {
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 100px;
    height: 100px;
    display: table;
    transition: transform .3s;
}

.round-divs:hover {
    transform: scale(1.12);
}

.domains-section .row {
    margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
    .round-divs {
        height: 65px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

.bg-blue {
    background: #4285F4;
}

.bg-red {
    background: #DB4437;
}

.bg-yellow {
    background: #F4B400;
}

.bg-green {
    background: #0F9D58;
}

.domains-type {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 40px;
}

/* ---- Gallery ---- */
.gallery-section {
    /* background-color: #6BF178; */
    background-color: #FFFFFF;
    height: calc(5/8*100vw);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    #owl-demo .item img {
        display: block;
        width: auto!important;
        background-position: center!important;
        object-fit: cover!important;
        height: calc(3/8*100vh) !important;
    }

    .gallery-section {
        height: calc(5/8*100vh);
    }
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

/* .dot-blue {
   background: #4285F4!important;
}

.dot-red {
    background: #DB4437;
 }

 .dot-yellow {
    background: #F4B400;
 }

 .dot-green {
    background: #0F9D58;
 } */

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 15px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 15px;
    width: 15px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: calc(3/8*100vw);
}

/* ---- Contact ---- */
.contact-section {
    height: 75vh;
    display: flex;
    align-items: center;
}

.contact-title {
    font-weight: 700;
    font-size: 2.25rem;
}

.contact-form {
    padding-left: 45px!important;
    padding-right: 45px!important;
}

/* label color */
.input-field label {
    color: #9E9E9E !important;
}

/* label focus color */
.input-field input:focus+label {
    color: #9E9E9E !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #9E9E9E !important;
    box-shadow: 0 1px 0 0 #9E9E9E !important;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #9E9E9E !important;
    box-shadow: 0 1px 0 0 #9E9E9E !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #9E9E9E !important;
    box-shadow: 0 1px 0 0 #9E9E9E !important;
}

/* label underline focus color */
.input-field textarea.materialize-textarea:focus {
    border-bottom: 1px solid #9E9E9E !important;
    box-shadow: 0 1px 0 0 #9E9E9E !important;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #444;
}

.contact-submit {
    color: #FFFFFF !important;
    background-color: #DB4437 !important;
    border-radius: 25px;
    height: 45px;
    width: 175px;
    font-size: 1rem;
}

/* ---- Footer ---- */
.footer-section {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.footer-title {
    text-align: center;
    font-weight: 600;
    color: #4E4E4E;
}

.footer-location {
    text-align: center;
    font-size: 1.125rem;
    color: #4E4E4E;
}

.footer-social-media {
    text-align: center;
}

.social-media-title {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.footer-social-media .linkedin {
    color: #0077B5;
    font-size: 40px;
    padding: 10px;
}

.footer-social-media .instagram {
    color: #BC2A8D;
    font-size: 40px;
    padding: 10px;
}

.footer-social-media .twitter {
    color: #1DA1F2;
    font-size: 40px;
    padding: 10px;
}

.footer-social-media .discord {
    color: #7289DA;
    font-size: 40px;
    padding: 10px;
}

.footer-copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-love {
    color: #DB4437;
}

.footer-code {
    color: #000000;
}