<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developer Student Club CSUSM - Powered By Google Developers</title>
    <!-- TODO: Combine this statement with the one below it
        SRM Developer Student Club (DSC SRM) is a Google Developers program for SRM IST students to learn mobile and web development skills. -->
    <meta name="description"
        content="Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- jQuery CDN and Popper.js CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <!-- Materialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- OwlCarousel2 -->
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">

    <!-- Open Sans Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">

    <!-- Font Icons -->
    <script src="https://kit.fontawesome.com/6aec46af78.js"></script>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <link rel='stylesheet' type='text/css' media='screen' href='../css/team.css'>
</head>

<body>

    <!-- PRELOADER START -->
    <div class="preloader-background">
        <div class="loading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <div class="blinking">
            <p>Loading</p>
        </div>
    </div>
    <!-- PRELOADER END -->

    <!-- NAVBAR START -->
    <div class="navbar-fixed">
        <nav class="whiteNav" role="navigation">
            <div class="nav-wrapper container">
                <a href="#Home" class="brand-logo">
                    <div class="center-brand">
                        <img class="dsc-logo" src="../images/dsc-logo-2.png">
                        <span class="dsc-brand hide-on-small-only">&nbsp;&nbsp;DSC CSUSM</span>
                    </div>
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="https://www.linkedin.com/company/developer-student-club-csu-san-marcos"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/dsc.csusm/"><i
                                class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/DSC_CSUSM"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://discord.gg/x9HpdPk"><i
                                class="fab fa-discord"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- NAVBAR END -->

    <!-- SIDENAV START -->
    <ul class="sidenav" id="mobile-nav">
        <li><a class="menu-items" href="/">Home</a>
        </li>
        <li><a class="menu-items" href="/events">Events</a></li>
        <li><a class="menu-items" href="/team">Our Team</a></li>
        <li><a class="menu-items" href="#Contact">Contact</a></li>
    </ul>
    <!-- SIDENAV END -->

    <!-- LANDING START -->
    <div id="Home" class="header-section scrollspy">
        <div class="landing-section">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div id="slide1" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide2" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide3" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide4" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide5" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide6" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-container container">
            <h2 class="landing-title">About the team</h2>
            <p class="landing-desciption">DSC CSUSM aspires to expand its student community of passionate and fervent
                developers to encapsulate the latest
                and advanced technologies such as cloud computing, machine learning, big data, web, and app development,
                etc. through their interactive and free workshops. The students get an exceptional experience through
                the
                seminars conducted involving the industry professionals. With the cooperation of various domains such as
                Technical, Business, Creatives and Public Relations, these events are organized with
                rewarding feedbacks.</p>
        </div>
    </div>
    <!-- LANDING END -->

    <!-- CONTENT START -->
    <div class="main">

        <div id="particles-js"></div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <!-- TEAM ROSTER START -->
        <div class="team-roster-section">
            <div class="container">
                <h2 class="team-roster-title center-align">Core Team</h2>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="../images/profiles/alexander_garcia.jpg">
                                <p class="card-title">Alexander Garcia</p>
                                <p class="card-subtitle team-lead">Team Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="portfolio" href="https://alexandermgarcia.com"><i
                                        class="fas fa-globe social-icons"></i></a>
                                <a id="linkedin" href="https://www.linkedin.com/in/alexandermgarcia"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                                <a id="github" href="https://github.com/djauxel"><i
                                        class="fab fa-github social-icons"></i></a>
                                <a id="instagram" href="https://www.instagram.com/alexnlt9"><i
                                        class="fab fa-instagram social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Sahar Mosleh</p>
                                <p class="card-subtitle faculty-advisor">Faculty Advisor</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jeffrey Morales</p>
                                <p class="card-subtitle faculty-advisor">Faculty Advisor</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jeffrey-morales-68aa6333/"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Thao Phung</p>
                                <p class="card-subtitle creatives-lead">Creatives and Photography Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/thao-phung-a65179169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Unknown</p>
                                <p class="card-subtitle business-lead">Business Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="../images/profiles/sarai_alvarez.jpg">
                                <p class="card-title">Sarai Alvarez</p>
                                <p class="card-subtitle public-relations-lead">Public Relations Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/sarai-a-a5701b192"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3"
                                    src="../images/profiles/ace_gabriel _figueroa.jpg">
                                <p class="card-title">Ace Gabriel Figueroa</p>
                                <p class="card-subtitle technical-lead">Technical Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/acegfig"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                                <a id="github" href="https://github.com/AceGabrielFigueroa"><i
                                        class="fab fa-github social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Unknown</p>
                                <p class="card-subtitle technical-lead">Technical Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Unknown</p>
                                <p class="card-subtitle technical-lead">Technical Lead</p>
                                <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="team-roster-title center-align">Team</h2>
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Emanuel Ordonez</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/emanuel-ordonez-951678165"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Uma Nair</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nairuma"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Shane Ghuste</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/shane-ghuste-b9266518b"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jack Liu</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jack-liu-2019"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Gabriela Rojas</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/gabriela00rojas"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Benjamin Ombeni</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/benjamin-ombeni-355489170"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Alexander Nider</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="../images/profiles/brandon_mendoza.jpg">
                                <p class="card-title">Brandon Mendoza</p>
                                <p class="card-subtitle team-member">Creatives and Photography Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/brandon-mendoza-55a17a169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Veronica Ung</p>
                                <p class="card-subtitle team-member">Creatives and Photography Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/veronica-ung-53317a169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">James Bertel</p>
                                <p class="card-subtitle team-member">Public Relations Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jamesbertel"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jasmine Doctolero</p>
                                <p class="card-subtitle team-member">Business Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jasmine-b-doctolero"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Nicole Perey</p>
                                <p class="card-subtitle team-member">Business Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nicole-perey-7a1399188"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TEAM ROSTER START -->

        <!-- CONTACT START -->
        <div id="Contact" class="contact-section scrollspy">
            <div class="container contact-text-area">
                <div class="row">
                    <div class="col m10 offset-m1 s12">
                        <div class="row">
                            <div class="col s8 offset-s2 m8 offset-m2">
                                <div class="card white-card">
                                    <div class="card-content">
                                        <h2 class="contact-title text-gray center-align">Send us a message</h2>
                                        <form id="gform" method="POST" data-email="from_email@example.com"
                                            action="https://script.google.com/macros/s/AKfycbymN37DuSZMOo3GwvmlydHegcJNMOFAIpGC3VT9vjonM8ckEsE/exec">
                                            <div class="row contact-form">
                                                <div class="input-field col s12">
                                                    <input id="name" name="name" type="text" required>
                                                    <label for="name">Name</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="email" name="email" type="email" class="form-input"
                                                        required>
                                                    <label for="email">Email</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="subject" name="subject" type="text" class="form-input"
                                                        required>
                                                    <label for="subject">Subject</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea id="message" name="message" class="materialize-textarea"
                                                        required></textarea>
                                                    <label for="message">Message</label>
                                                </div>
                                                <p class="center-align"><input class="btn contact-submit" type="submit"
                                                        value="Submit"></input></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT START -->

    </div>
    <!-- CONTENT END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="text-gray footer-title">DSC CSUSM - Powered by Google Developers</h5>
                    <p class="text-gray footer-location">California State University San Marcos
                        <br>San Marcos, CA 92096, USA
                    </p>
                </div>
            </div>
            <!-- <div class="row footer-social-media-title">
                    <h2 class="social-media-title">Follow us on</h2>
                </div> -->
            <div class="row">
                <div class="row">
                    <h2 class="social-media-title text-gray">Follow us on</h2>
                    <div class="footer-social-media">
                        <a class="linkedin"
                            href="https://www.linkedin.com/company/developer-student-club-csu-san-marcos"><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="instagram" href="https://www.instagram.com/dsc.csusm/"><i
                                class="fab fa-instagram"></i></a>
                        <a class="twitter" href="https://twitter.com/DSC_CSUSM"><i class="fab fa-twitter"></i></a>
                        <a class="discord" href="https://discord.gg/x9HpdPk"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-gray">
            <div class="container">
                <h6>Made with&nbsp;<i class="fas fa-heart footer-love"></i>&nbsp;and <i
                        class="fas fa-code footer-code"></i></h3>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <script src='../js/team.js'></script>
    <script src='../js/particles.js'></script>
    <script src="../libs/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>
</body>

</html>